@keyframes divShow {
  0%   { width:100%;}
  100% { width:60%;}
}
@-webkit-keyframes divShow {
  0%   { width:100%;}
  100% { width:60%;}
}

@keyframes tagShow {
  0%   { width:0%;}
  100% { width:40%;}
}
@-webkit-keyframes tagShow {
  0%   { width:0%;}
  100% { width:40%;}
}

@keyframes divHidden {
  0%   { width:60%;}
  100% { width:100%;}
}
@-webkit-keyframes divHidden {
  0%   { width:60%;}
  100% { width:100%;}
}

@keyframes tagHidden {
  0%   { width:40%;}
  100% { width:0%;}
}
@-webkit-keyframes tagHidden {
  0%   { width:40%;}
  100% { width:0%;}
}

.el-card{
  height: 100%;
}

.el-card__body{
  height: calc(100% - 50px);
}

/* .el-tree{
   height: calc(100% - 60px);
   overflow-y: scroll;
 }*/
